body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #d39fff, #a1c4fd);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    padding: 30px;
}

.card {
    background-color: rgba(0,0,0,0.2);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    margin: 20px;
}

.quiz-btn {
    margin: 10px;               /* aumenta o espaçamento */
    padding: 18px 30px;         /* aumenta a altura e largura do botão */
    font-size: 1.2rem;          /* deixa o texto maior */
    border: none;
    border-radius: 12px;
    background-color: #d39fff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}


.quiz-btn:hover {
    background-color: #a1c4fd;
    transform: scale(1.05);
}

#quiz-msg {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}
